
body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;
font-size: 15px;

}




.header
{

    text-align: center;
    font-size: 70px;
    background:  #45a049;
    border-radius: 10px;
    border-width: 30px;
}
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
.normal
{
    color: grey;
}
.error
{

    width: 30%;
    color: #D8000C;
    background-color: #FFD2D2;
    border-color: #D8000C;
    height: 20px;
    text-align: center;
    border-radius: 5px;
}
.narrow
{
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}
input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.container {
    border-radius: 5px;
    background-color: #ffffcc;
    padding: 20px;

}
