
body {
	font-family: Arial;
}

form.search input[type=text]{
	padding: 10px;
	font-size: 17px;
	border: 1px solid grey;
	float: left;
	width: 55%;
	background: #f1f1f1;
}

form.search button {
  float: left;
  width: 15%;
  padding: 10px;
  background: #00ff80;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

form.search button:hover {
  background: #0b7dda;
}

form.create input[type=text]{
	padding: 10px;
	font-size: 17px;
	border: 1px solid grey;
	float: left;
	width: 85%;
	background: #f1f1f1;
}

form.create button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #00ff80;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

form.create button:hover {
  background: #009900;
}

button {
  margin: auto;
  width: 15%;
  padding: 5px;
  background: #00ff80;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}